<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='show.css')}}">
</head>
<body>
    <h1>Login Information</h1>
    <ul>
        <li>{{session['email']}}</li>
        <li>{{session['first_name']}}</li>
        <li>{{session['last_name']}}</li>
        <li>{{session['password']}}</li>
        <li>{{session['confirm_password']}}</li>
    </ul>
    
</body>
</html>