<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'dojo/style.css' %}">
</head>
<body>
    
    <h1>BELOW IS CONTENT RENDERED FROM REQUEST.SESSION</h1>
    <h2> {{ color }}</h2>
    <h1>ALL DOJOS</h1>
    <h1>ALL NINJAS</h1>
    {{ ninjas }}
    {% for ninja in ninjas %}
        <p>{% ninja %}</p>
    {% endfor %}
</body>
</html>