<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'santa_ver_1/style_log_reg.css'%} ">
</head>
<body>
    <div class="container main out tree hextend ">
        <div class="row">
            <div class='col-sm-1'></div>
            <div class="col-sm-5">
                <h1 class="  green il out">Welcome {{ user.alias }} </h1>
            </div>
            <div class='col-sm-3'>
                <h4 class="green out il rpadding ">Lists Built <span class="label label-default">{{ user.list_set.all.count}}</span>
                </h4>
            </div>
            <div class='col-sm-1'></div>
            <div class='col-sm-2'>
                <a href="{% url 'santa_ver_1:main' %}">
                    <button class="btn green black f16"> Main </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 ">
                <div class="jumbotron out red">
                    <form action="{% url 'santa_ver_1:post' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name='form-type' value="list">
                        {% if messages%} {% for message in messages %}
                        <p id={{ message.error }}> {{ message }}</p>
                        {% endfor %} {% endif %}
                        <div class="form-group">
                            <label  class="f16" for="name">LIST NAME </label>
                            <input class="form-control" type="text" name="list_name" placeholder="List Name">
                        </div>
                        <div class="form-group">
                            <label class="f16"  for="gift_max">Gift Max Price</label>
                            <input class="form-control" type="number" name="gift_max"  value="40">
                        </div>
                        <h4>Members require name, number, and email</h4>
                        <button type="submit" class="btn green"> ENTER LIST MEMBERS</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-2 "></div>
        </div>
        {% if user_lists > 0 %}
        <div class="row">
            <div class="col-sm-1"> </div>
            <div class='col-sm-10'>
                <table class="table table-hover table-bordered green out">
                <thead class="white">
                    <tr>
                        <th class="f16"> <p>#</p></th>
                        <th class="f16">List Name</th>
                        <th class="f16">Gift Max</th>
                        <th class="f16">Total Members</th>
                        <th class="f16">Options (Secret Santa Requires Generator 3 or more)</th>
                    </tr>
                </thead>
                <tbody>
                {% for list in user_lists %}
                <tr>
                    <td class="f16"> {{ forloop.counter }} </td>
                    <td class="f16"> {{ list.name }}</td>
                    <td class="f16"> {{ list.gift_max}} Dollars</td>
                    <td class="f16">  {{ list.member_set.all.count }}</td>
                    <td>
                        <a class="f16" href="/{{list.id }}/list_update">Update </a> |
                        <a class="f16" href="/{{list.id }}/list_delete"> Delete</a> |
                        <a class="f16" href="/{{list.id }}/add_member"> Add Member </a> |
                        {% if list.member_set.all.count > 0%}
                        <a class="f16" href="/{{list.id }}/view_members">
                            View Member</a>
                        {% endif %}
                        {% if list.member_set.all.count > 2 %}
                        <a href="/{{list.id }}/ss_list">
                            <button class="btn btn-primary">Secret Santa </button>
                             </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="col-sm-1"> </div>
        </div>
        {% endif %}





 
    <a class="white" href="{% url 'santa_ver_1:logout' %}">Logout</a>
</body>

</html>