<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">.
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'santa_ver_1/style_log_reg.css'%} ">
</head>

<body>
    <div class="container main out tree hextend">

        <div class="row">
            <div class="col-sm-1"> </div>
            <div class="col-sm-10">
                <div class="out green">
                    <h1 class=" center">WELCOME TO SECRET SANTA LIST MAKER</h1>
                    <h1 class=" center">Time Until Christmas: {{ xmas |timeuntil }}</h1>
                </div>
            </div>
            <div class="col-sm-1"> </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 ">
                <div class="jumbotron red out">
                    <h3>REGISTER</h3>
                    <form action="{% url 'santa_ver_1:post' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="register"> {% if messages and messages.tags == error %} {% for message in messages %}
                        <p id={{ message.tags }}> {{ message }}</p>
                        {% endfor %} {% endif %}
                        <div class="form-group">
                            <label for="alias">Username:</label>
                            <input class="form-control" type="text" name="alias" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class='form-control' type="text" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class='form-control' type="text" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn green">REGISTER</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 ">
                <div class="jumbotron red out">
                    <h3 class="center">LOGIN</h3>
                    <form action=" {% url 'santa_ver_1:post' %}" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="form-type"> 
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class='form-control' type="text" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class='form-control' type="text" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn green"> LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>