<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>FORM TEST</h1>
    <div>
        {% if messages in messages %} 
        {% for messsage in messages %}
        <p> {{ message }}</p>
        {% endfor %}
        {% endif %}
        <fieldset >
            <legend> MODELFORM</legend>
            <form action="new_post" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="MODELSSSSSSSS">
            </form>
        </fieldset>
    </div>
</body>
</html>