<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WALL</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
</head>
<body>
    {% with messages = get_flashed_messages() %} <!-- Indents must line up -->
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>PLEASE REGISTER OR LOGIN</h1>
    <form action="/registration" method="POST">
        <fieldset>
            <legend>REGISTER</legend>
            <input type="text" name="first_name" placeholder="first name">
            <input type="text" name="last_name" placeholder="last name">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="confirm_pw" placeholder="confirm password">
            <input type="hidden" name='form' value="register">
            <input type="submit" value="REGISTER">    
        </fieldset>
    </form>
    <form action="/login" method="POST">
        <fieldset>
            <legend>LOGIN</legend>
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="hidden" name='form' value="login">
            <input type="submit" value="LOGIN">    
        </fieldset>
    </form>
