<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity Feed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='messages.css')}}" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div id="header"> 
            <h1 class="headl">CodingDojo Wall</h1> 
            <a class='headr' href="" >Log Off</a> 
            <h4 class="headr">Welcome {{session['first']}}</h4>
        </div>
        <div id="body"> 
            <div id="message_form">   <!--MESSAGE FORM__-->
                <div id="form_content">
                    <form action="/store_messages" method="POST">
                    <label id='message_label' for="">Post a message</label>
                    <input id='mc_box' type="text" name="message_content" value="">
                    <input type="hidden" name="post_message" value="message_post">
                    <input type="submit" value="Post a Message" id="message_button"> 
                    </form>
                </div>
                <div class="recent_messages">
                    {{thingy}}
                    {{thingy1}}
                    {{thingy2}}
                    {% for a in mq: %}
                        <p>{{a['content']}}</p>
                    {%endfor%}
                </div>
                <div id="comment_form">   <!--COMMENT FORM-->
                    <div id="form_content">
                <form action="/store_comments" method="POST">
                    <label id='comment_label' for="">Post a comment</label>
                    <input id='cc_box' type="text" name="comment_content" value="">
                    <input type="hidden" name="post_comment" value="comment_post">
                    <input type="submit" value="Post a Comment" id="comment_button"> 
                </form>
            </div>
        </div>
</body>
</html>

<!-- NOT SURE HOW TO LINK COMMENTS TO MESSAGES, AND THEN SHOW AFTER EACH MESSAGE IF IT EXISTS.
    I FEEL LIKE MAYBE BECAUSE THIS IS DYNAMICALLY GENERATED CONTENT JQUERY IS NEEDED AND A REFERENCE POINT IN SESSION TO SAVE EACH 
    MESSAGE IN THE DATABASE BUT THEN ALSO DEVELOP A KEY TO USE IN SESSION THAT CAN BE PULLED WHEN COMMENT IS CLICKED ON IT???
    FEEL LIKE I AM ENTERING THE MATRIX-->