<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=
        , initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Email Validation</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
        <script type="text/javascript" src="{{url_for('static', filename='javascript.js')}}"></script>
    </head>
    <body>
        <div class="container wrapper">
            <div class="top">
                <h1>Checking For Simple Email Validation</h1>
                <p>Please ensure that email includes 1 "@" simple and ".com" </p>
                {% with messages = get_flashed_messages() %} <!-- Indents must line up -->
                    {% if messages %}
                        {% for message in messages %}
                            <h3>{{message}}</h3>
                        {% endfor %}
                    {% endif %}   
                {% endwith %}
            </div>
            <div class="form">
                <form action="/email" method="POST">
                    <label for="email">EMAIL:   </label>
                    <input type="text" name="email">
                    <input type="submit" value='check'>
                </form>
            </div>
           
        </div>  
    </body>
</html>