<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SHOW ALL</h1>
    <textarea name="" id="" cols="30" rows="10">
    {% for item in book_list %}
        <p>{{ item.title }}</p>
    {% endfor %}

    </textarea>

<textarea name="" id="" cols="30" rows="10">
{% for item in author_list %}
    <p>{{ item.author_name }}</p>
{% endfor %}

</textarea>
<textarea name="" id="" cols="30" rows="10">
{% for item in user_list %}
    <p>{{ item.name }}</p>
{% endfor %}

</textarea>

<textarea name="" id="" cols="30" rows="10">
{% for item in reviews_list %}
    <p>{{ item.review }}</p>
{% endfor %}

</textarea>


    <h1>ADD NEW</h1>




    <h1>ADD PAge</h1>
    <a href="/add">add</a>
    
    <h1>User Activity </h1>
    <a href="/user_activity">User Activity Page</a>
</body>
</html>