table#2 {
    border: 5px solid red;
}
h1 {
    color:green;

}
thead{
    color:blue
}
tfoot {
    color:purple
}
.border * {
    border: 2px solid black;
    text-align:right;
    padding:20px
}
/* table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
} */
table#t01 tr:nth-child(even) {
    background-color: rgb(226, 223, 46);
}
table#t01 tr:nth-child(odd) {
    background-color: rgb(233, 35, 35);
}
table#t01 th {
    color: white;
    background-color: black;
}

#t01 th,td{
        padding: 5px;
        text-align: left;
   
}
