<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <p>
            <a href=" {% url 'wish:main' %}">HOME</a>
        </p>
        <p>
            <a href=" {% url 'wish:logout' %}">LOGOUT</a>
        </p>
    </div>
    <div>
        <h3>CREATE NEW ITEM</h3>
         {% if messages %} {% for message in messages%}
        <p> {{ message }} </p>
        {% endfor %} {% endif %}
        <form action="{% url 'wish:post' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="add_item">
            {{ form }}
            <input type="submit" value="ADD">
        </form>
    </div>
  
</body>
</html>